.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #c02425, #f0cb35);
}

.main-box {
    /* display: grid; */
    box-shadow: 0px 13px 40px -13px rgba(0,0,0,0.75);
    /* grid-template-columns: 1fr 2fr; */
    height: 90vh;
    width: 80%;
    margin: 0 auto;
    display: flex;
}

.image-box {
    height: 90vh;
    background: url("./images/nature.jpg") center center no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
    color: #fff
}

.image-box-content h1 {
    margin: 10px;
    font-size: 50px;
    font-family: Georgia, 'Times New Roman', Times;
}

.image-box-content p {
    font-size: 25px;
}


.weather-box {
    height: 90vh;
    background: rgb(61, 59, 59);
    display: flex;
    flex-direction: column;
}

.weather-form {
    padding-top: 2rem;
    padding-left: 2rem;
    background: rgb(61, 59, 59);
}

.weather-content {
    width: 80%;
    font-size: 20px;
    letter-spacing: 2px;
    padding-left: 2rem;
}

.weather-key {
    color: orangered;
    padding: 20px 0 20px 0;
    border-bottom: solid 2px rgb(104, 104, 104);
}

.weather-value {
    color: #fff;
}

.weather-error {
    font-size: 20px;
    color: #fff;
    letter-spacing: 1px;
}

input[type="text"] {
    border: none;
    border-bottom: solid orangered 1px;
    width: 30%;
    padding-bottom: 1rem;
    letter-spacing: 2px;
    background-color: transparent;
    font-size: 20px;
    margin-bottom: 1rem;
    margin-right: 1rem;
    margin-left: 5px;
    color: white;
}

input[type="text"] {
    outline: none;
}


button {
    border: none;
    padding: 8px;
    border-radius: 2px;
    font-size: 15px;
    cursor: pointer;
    background-color: orangered;
    color: #fff;
}

button:active {
    outline: none;
}
